.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc(100% / 2 - 30px);

  @media screen and (min-width: $tablet) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms $timeFunction, border 250ms $timeFunction;

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}

.clients__icon {
  padding: 0;
  margin: 0;
  fill: currentColor;
}
