.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(2n) {
    @media screen and (max-width: $mobileBreakpoint) {
      margin-right: 0;
    }
  }

  &:nth-last-child(-n + 2) {
    @media screen and (max-width: $mobileBreakpoint) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 60px) / 3);
  }

  &:nth-child(3n) {
    @media screen and (min-width: $tablet) and (max-width: $tabletBreakpoint) {
      margin-right: 0;
    }
  }

  &:nth-last-child(-n + 3) {
    @media screen and (max-width: $tabletBreakpoint) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }

  &:last-child {
    @media screen and (min-width: $desktop) {
      margin-right: 0;
    }
  }
}

.clients__link {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms $timeFunction, border 250ms $timeFunction;

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}

.clients__icon {
  padding: 0;
  margin: 0;
  fill: currentColor;
}
