.features__list {
  display: flex;
}

.features__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__item::before {
  content: '';
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $secondaryBgColor;
}

// $iconsFeatures: 'satellite', 'clock', 'diagram', 'astronaut';

// @each $iconName in $iconsFeatures {
//   .features__icon-#{$iconName}::before {
//     background-image: url('../images/#{iconName}.svg');
//   }
// }

.features__icon-satellite::before {
  background-image: url('.././images/satellite.svg');
}

.features__icon-clock::before {
  background-image: url('.././images/clock.svg');
}

.features__icon-diagram::before {
  background-image: url('.././images/diagram.svg');
}

.features__icon-astronaut::before {
  background-image: url('.././images/astronaut.svg');
}

.features__name {
  margin-bottom: 10px;

  color: $titleTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-decoration: none;
}
