.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo {
    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__main-nav {
  @media screen and (max-width: 767px) {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__menu-button {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;

  border: none;
  fill: #000000;
  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms $timeFunction;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  &.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1;
  }
}

.mobile__close {
  display: none;

  .header__menu-button.is-open & {
    display: block;
  }
}

.header__menu-button.is-open .mobile__open {
  display: none;
}

.header__menu-thumb {
  width: 100%;

  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(100%);

    top: 0px;
    left: 0;
    height: 100vh;
    padding: 48px 40px;

    transition: transform 250ms $timeFunction;
    background-color: $primaryBgColor;

    &.is-open {
      transform: translateY(0);
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.header__nav-list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header__item:not(:last-child) {
  position: relative;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 50px;
    }
  }
}

.header__link {
  position: relative;
  display: inline-block;

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $titleTextColor;
  transition: color 250ms $timeFunction;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header__link--current {
  color: $accentColor;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accentColor;

    @media screen and (min-width: $tablet) {
      bottom: -1px;
    }
  }
}

.header__cont-container {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
}

.header__cont-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.header__cont-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &:last-child {
    @media screen and (min-width: $tablet) {
      margin-top: 10px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.header__cont-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primaryTextColor;
  transition: color 250ms $timeFunction;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.cont-link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;

    color: $primaryTextColor;
  }
}

.cont-link--phone {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;

    color: $accentColor;
  }
}

.header__mail-icon {
  width: 16px;
  height: 12px;

  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}

.header__phone-icon {
  width: 10px;
  height: 16px;

  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}

.header__socail-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header__socail-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;

    width: 2px;
    height: 22px;
    right: -10px;
    bottom: 0;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.header__socail-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $accentColor;
  transition: color 250ms $timeFunction;

  &:hover,
  &:focus {
    color: #188ce8;
  }
}
