.hero {
  padding: 200px 0;
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-color: $footerBgColor;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: $primaryBgColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;

  color: $primaryBgColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms $timeFunction;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
