.mobile {
  display: inline-flex;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}

.mobile__close {
  display: none;

  .mobile.is-open & {
    display: block;
  }
}

.mobile.is-open .mobile__open {
  display: none;
}

.mobile__menu {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;

  background-color: red;

  &.is-open {
    display: block;
  }
}
