.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $timeFunction, visibility 250ms $timeFunction;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(1.1);
// }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: $primaryBgColor;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timeFunction;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__close-icon {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primaryBgColor;
  transition: fill 250ms $timeFunction;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.modal__form {
  padding: 40px;
}

.modal__title {
  display: block;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $titleTextColor;
}

.modal__field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__input {
  margin: 0;
  padding: 11px 12px 12px 42px;
  width: 100%;
  height: 40px;

  font-size: 16px;
  line-height: 1.25;

  color: $titleTextColor;
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transition: border-color 250ms $timeFunction;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  fill: $titleTextColor;
  cursor: pointer;
  transition: fill 250ms $timeFunction;

  .modal__field:hover &,
  .modal__field:focus & {
    fill: $accentColor;
  }
}

.modal__comment {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__comment-textarea {
  height: 120px;
  overflow: scroll;
  padding: 12px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: $titleTextColor;

  resize: none;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transition: border-color 250ms $timeFunction;

  &::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    transition: border-color 250ms $timeFunction;
  }

  &:hover,
  &:focus {
    border-color: $accentColor;
  }
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__lable {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__input {
  appearance: none;
  position: absolute;

  &:checked + .checkbox__area {
    border-color: transparent;
    background-color: $accentColor;
  }

  // &:hover + .checkbox__area,
  // &:focus + .checkbox__area {
  //   border: 2px solid $accentColor;
  // }
}

.checkbox__area {
  position: relative;
  display: inline-block;

  width: 16px;
  height: 15px;
  border: 2px solid $titleTextColor;

  border-radius: 2px;

  .checkbox__lable:hover &,
  .checkbox__lable:focus & {
    border: 2px solid $accentColor;
  }
}

.checkbox__icon {
  position: absolute;
  top: -2px;
  left: -2px;

  width: 16px;
  height: 15px;
}

.checkbox__text {
  margin-left: 8px;
}

.checkbox__link {
  color: $accentColor;
  cursor: pointer;
}

.modal__submit {
  @extend %button;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  min-width: 200px;

  color: $primaryBgColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms $timeFunction;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
