.portfolio-cards__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-cards__item {
  transition: box-shadow 250ms $timeFunction;

  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 3 - 30px);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-cards__link {
  height: 100%;

  text-decoration: none;
  color: $titleTextColor;
}

.portfolio-cards__description-container {
  padding: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-cards__description-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards__description-explanation {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: $primaryTextColor;
}

.portfolio-cards__image {
  position: relative;
  overflow: hidden;
}

.portfolio-cards__layout {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 77px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timeFunction, opacity 250ms $timeFunction;

  @media screen and (min-width: $tablet) {
    padding: 49px 24px 77px;
  }

  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }

  .portfolio-cards__link:hover &,
  .portfolio-cards__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-cards__layout-text {
  font-size: 14px;
  line-height: 1.71;

  color: $primaryBgColor;

  @media screen and (min-width: $mobile) {
    font-size: 18px;
    line-height: 1.56;
  }
}
