// .portfolio-cards__list {
//   display: flex;
//   flex-wrap: wrap;
// }

// .portfolio-cards__item {
//   width: calc((100% - 60px) / 3);
//   margin-right: 30px;
//   margin-bottom: 30px;

//   transition: box-shadow 250ms $timeFunction;

//   &:nth-child(3n) {
//     margin-right: 0;
//   }

//   &:nth-last-child(-n + 3) {
//     margin-bottom: 0;
//   }

//   &:hover {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.12);
//   }
// }

.portfolio-cards__link {
  text-decoration: none;
  color: $titleTextColor;
}

.portfolio-cards__description-container {
  min-width: 322px;
  padding: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-cards__description-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards__description-explanation {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: $primaryTextColor;
}

.portfolio-cards__image {
  position: relative;
  overflow: hidden;
}

.portfolio-cards__layout {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timeFunction, opacity 250ms $timeFunction;

  .portfolio-cards__link:hover &,
  .portfolio-cards__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-cards__layout-text {
  min-width: 322px;

  font-size: 18px;
  line-height: 1.56;

  color: $primaryBgColor;
}
