.work {
  padding-top: 0px;

  @media screen and (max-width: $tabletBreakpoint) {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;

  display: flex;
  width: 370px;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.work__item-container {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 15px 27px;
  max-width: 100%;
  min-width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.work__item-text {
  font-weight: 700;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: $primaryBgColor;
}
