body {
  color: $primaryTextColor;
  background-color: $primaryBgColor;

  font-family: $primaryFont;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &.modal-open {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;

  color: $titleTextColor;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.footer-subtitles {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primaryBgColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
